@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "League Spartan", sans-serif;
}

:root {
	--main-color: #088178;
	--main-color2: #e8ceb4;
	--main-color3: #E3E6F3;
	--main-color4: #ef3636;
}

h1 {
	font-size: 50px;
	line-height: 64px;
	color: #222;
}

h2 {
	font-size: 46px;
	line-height: 54px;
	color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

button.normal {
	font-size: 14px;
	font-weight: 600;
	padding: 15px 30px;
	color: black;
	background-color: #fff;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 300ms; 
}
.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

#header {
	display: flex;
	align-items: center; 
	justify-content: space-between;
	padding: 20px 80px;
	background-color: var(--main-color3);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;


	#navbar {
		display: flex;
		transition: 300ms;

		li {
			list-style-type: none;
			padding: 0 20px;

			a {
				text-decoration: none;
				font-size: 16px;
				font-weight: 600;
				color: #1a1a1a;
				transition: 300ms;
				position: relative;
				overflow: hidden;

				&.active {
					color: var(--main-color);
					&::before {
						width: 50%;
					}
				}

				&:hover {
					color: var(--main-color);
				}

				&:hover::before {
					width: 50%;
				}

				&::before {
					content: "";
					position: absolute;
					width: 0;
					height: 3px;
					border-radius: 30px;
					background-color: var(--main-color);
					left: 0;
					transition: 300ms;
					bottom: -5px;
				}
			}
		}
	}
	#navbar.active {
		right: 0px;
		transition: 300ms;
	}
	#close {
		position: absolute;
		top: 30px;
		left: 30px;
		color: #222;
		font-size: 24px;
		display: none;
	}
}
#mobile {
	display: none;
	align-items: center;
	a {
		margin-right: 20px;
		color: black;
	}
}

#hero {
	background-image: url(../img/hero4.png);
	background-size: cover;
	min-height: 90vh;
	padding: 0 80px;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	background-position: top 25% right 0;

	h4 {
		padding-bottom: 15px;
	}
	h1 {
		color: var(--main-color);
	}
	button {
		background-image: url(../img/button.png);
		background-color: transparent;
		color: var(--main-color);
		border: 0;
		padding: 14px 80px 14px 65px;
		background-repeat: no-repeat;
		font-weight: 700;
		cursor: pointer;
		font-size: 15px;
	}
}

#features {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	.features-box {
		width: 180px;
		text-align: center;
		padding: 25px 15px;
		box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.05);
		border: 1px solid #cce7d0;
		border-radius: 4px;
		margin: 15px 0;
		&:hover {
			box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.1);
		}
		h6 {
			padding: 9px 8px 6px 8px;
			line-height: 1;
			border-radius: 4px;
			color: var(--main-color);
			background-color: var(--main-color2);
			font-size: 1rem;
		}
		img {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}

#products {
	text-align: center;
	.pro-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		.pro {
			margin: 20px;
			box-shadow: 5px 5px 10px 0px rgba(0,0,0, 0.15);
			border: 1px solid transparent;
			transition: 300ms;
			img {
				width: 100%;
			}
			.des {
				text-align: start;
				padding: 10px;
				position: relative;
				h5 {
					color: var(--main-color);
					font-size: 1.1rem;
					margin: 5px 0;
					width: 150px;
				}
				.star {
					color: gold;
				}
				h4 {
					color: #14dd14;
					font-size: 1.3rem;
					margin-top: 10px;
				}
				a {
					position: absolute;
					right: 20px;
					top: 50%;
					transform: translateY(-50%);
					color: var(--main-color);
					background-color: var(--main-color3);
					font-size: 1.5rem;
					width: 40px;
					height: 40px;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					text-decoration: none;
				}
			}
			&:hover {
				border-color: rgba(0,0,0, 0.2);
			}
		}
	}
}

#banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url(../img/banners/b2.jpg);
	height: 40vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	h4 {
		color: #fff;
		font-size: 16px;
	}
	h2 {
		color: #fff;
		font-size: 30px;
		padding: 10px 0;
		span {
			color: var(--main-color4);
		}
	}
	button {
		&:hover {
			background-color: var(--main-color);
			color: #fff;
		}
	}
}

#sm-banner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 40px;
	margin-bottom: -50px;
	.banner-box {
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: start;
	    background-image: url(../img/banners/b17.jpg);
	    height: 40vh;
	    background-size: cover;
	    background-position: center;
	    padding-left: 20px;
		&:hover button {
			color: white;
			background-color: var(--main-color);
			border-color: var(--main-color);
		}
		&.two {
			background-image: url(../img/banners/b10.jpg)
		}
	}
	h4 {
		color: #fff;
		font-size: 20px;
		font-weight: 300;
	}
	h2 {
		color: #fff;
		font-size: 28px;
		font-weight: 800;
	}
	span {
		color: #fff;
		font-size: 14px;
		font-weight: 500;
		padding-bottom: 15px;
	}
	button {
		font-size: 13px;
		font-weight: 600;
		padding: 11px 18px;
		color: #fff;
		background-color: transparent;
		cursor: pointer;
		border: 1px solid #fff;
		outline: none;
		transition: 300ms; 
	}
}

#banner-three {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	.banner-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		background-image: url(../img/banners/b17.jpg);
		height: 30vh;
		background-size: cover;
		background-position: center;
		padding-left: 20px;
		&.one {
			background-image: url(../img/banners/b7.jpg);
		}
		&.two {
			background-image: url(../img/banners/b4.jpg);
		}
		&.three {
			background-image: url(../img/banners/b18.jpg);

		}
	}
	h3 {
		color: var(--main-color4);
		font-size: 20px;
		font-weight: 300;
	}
	h2 {
		color: #fff;
		font-size: 28px;
		font-weight: 800;
	}
}

#newsletter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background-image: url(../img/banners/b14.png);
	background-repeat: no-repeat;
	background-position: 20% 30%;
	background-color: #041342;
	h4 {
		font-size: 22px;
		font-weight: 700;
		color: #fff;
	}
	p {
		font-size: 22px;
		font-weight: 700;
		color: #818ea0;
		span {
			color: #ffbd27;
		}
	}
	input {
		height: 3.125rem;
		padding: 0 1.25em;
		font-size: 14px;
		width: 100%;
		border: 1px solid transparent;
		border-radius: 4px;
		outline: none;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	button {
		background-color: var(--main-color);
		color: #fff;
		white-space: nowrap;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	.form {
		display: flex;
		width: 40%;
	}
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.col {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-bottom: 20px;
	}
	.logo {
		margin-bottom: 30px;
	}
	h4 {
		font-size: 14px;
		padding-bottom: 20px;
	}
	p {
		font-size: 13px; 
		margin: 0 0 8px 0;
	}
	a {
		font-size: 13px; 
		margin: 0 0 8px 0;
		text-decoration: none;
		color: #222;
		margin-bottom: 10px;
	}
	.follow {
		margin-top: 20px;
		i {
			color: #465b52;
			padding-right: 4px;
			cursor: pointer;
			&:hover {
				color: var(--main-color);
			}
		}
	}
	a:hover {
		color: var(--main-color);
	}
	.install {
		.row {
			img {
				border: 1px solid var(--main-color);
				border-radius: 6px;
			}
		}
		img {
			margin: 10px 0 15px 0;
		}
	}
}

#page-header {
	background-image: url("../img/banners/b1.jpg");
	width: 100%;
	height: 40vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 14px;
	h2,p {
		color: #fff;
	}
}

#pagination {
	text-align: center;
	a {
		text-decoration: none;
		color: white;
		background-color: var(--main-color);
		padding: 15px 20px;
		border-radius: 4px;
		font-weight: 600;
		i {
			font-size: 16px;
			font-weight: 600;
		}
	}
}

@media(max-width: 799px) {
	.section-p1 {
		padding: 40px 40px;
	}
	#header {
		padding: 20px 40px;
	}
	#navbar {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		top: 0;
		right: -300px;
		height: 100vh;
		width: 300px;
		background-color: var(--main-color3);
		box-shadow: 0 40px 60px rgba(0,0,0, 0.1);
		padding: 80px 0 0 10px;
		li {
			margin-bottom: 25px;
		}
		#close {
			display: inline-block;
		}
	}
	#mobile {
		display: flex;
	}
	#lg-bag {
		display: none;
	}
	#hero {
		height: 70vh;
		padding: 0 80px;
		background-position: top 30% right 30%;
	}
	#features {
		justify-content: center;
		.features-box {
			margin: 15px 15px;
		}
	}
	#sm-banner {
		grid-template-columns: 1fr;
	}
	#hero {
		position: relative;
		padding: 0 40px;
		h2 {
			font-size: 30px;
			line-height: 1.2;
		}
		h1 {
			font-size: 40px;
			line-height: 1.2;
			margin-top: 10px;
		}
		&::before {
			content: '';
			background-color: rgba(0,0,0, 0.2);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	#banner-three {
		gap: 20px;
		grid-template-columns: 1fr;
	}
	#newsletter .form {
		width: 100%;
	}
}

.s-product {
	width: 80vw;
	height: 80vh;
	position: fixed;
	z-index: 1000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 300ms;
	background-color: red;
	left: -800px;
	background-color: var(--main-color3);
	display: flex;
	padding: 30px;
	justify-content: space-between;
	i {
		position: absolute;
		top: 10px;
		left: 10px;
	}
	.images {
		max-width: 40%;
		display: flex;
		flex-direction: column;
		height: fit-content;
		gap: 10px;
		img {
			max-width: 100%;
			&:first-child {
				grid-column-start: 1;
				grid-column-end: 5;
			}
		}
		.row {
			display: flex;
			gap: 10px;
		}
	}
	.information {
		padding: 20px;
		h2 {
			font-size: 2rem;
			font-weight: 600;
		}

		h1 {
			font-size: 2.5rem;
			font-weight: 600;
			margin: 10px 0;
		}
		select {
			padding: 5px;
			background-color: transparent;
			border: 1px solid #bbb;
			border-radius: 5px;
			display: block;
		}
		.form {
			display: flex;
			justify-content: center;
			align-items: center;
			width: fit-content;
			margin-bottom: 40px;
			margin-top: 5px;
			gap: 5px;
			input {
				width: 40px;
				height: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				outline: none;
			}
			button {
				height: 40px;
				padding: 10px 20px;
				background-color: var(--main-color);
				color: white;
				border: none;
				border-radius: 5px;
				font-size: 1.2rem;
				cursor: pointer;
			}
		}
		h3 {
			font-size: 1.6rem;
		}
		p {
			font-size: 1.2rem;
			line-height: 1.6;
		}
	}
}
.s-product-bg {
	background-color: rgba(0,0,0, 0.0);
	width: 100vw;
	height: 100vh;
	position: fixed;
	transition: 300ms;
	z-index: -1;
	display: block;
	&.active {
		z-index: 999;
		background-color: rgba(0,0,0, 0.5);
	}
}
.s-product.active {
	left: 50%;
	transition: 300ms;
}

.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

@media (max-width: 991px) {
	.s-product {
		flex-direction: column;
		.images {
			max-width: 70%;
			flex-direction: row;
			.row {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				max-width: 49%;
			}
		}
		.information {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			gap: 40px;
			.info-side-a {
				h2 {
					font-size: 1.6rem;
					font-weight: 600;
					white-space: nowrap;
				}
				h1 {
					font-size: 2rem;
      				font-weight: 600;
					margin: 0;
				}
			}
			.info-side-b {
				max-width: 50%;
				p {
					font-size: 1rem;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.s-product {
		width: 100vw;
		height: 100vh;
		align-items: center;
		.images {
			flex-direction: column;
			.row {
				grid-template-columns: repeat(4, 1fr);
				max-width: 100%;
			}
		}
		.information {
			flex-direction: column;
			gap: 10px;
			.info-side-a {
				.form {
					margin-bottom: 30px;
				}
			}
			.info-side-b {
				max-width: 100%;
			}
		}
	}
}

#page-header.blog-header {
	background-image: url("../img/banners/b19.jpg");
}

#blog {
	padding: 150px 150px 0 150px;
	.blog-box {
		display: flex;
		align-items: center;
		width: 100%;
		position: relative;
		padding-bottom: 90px;
		.blog-image {
			width: 50%;
			margin-right: 40px;
			img {
				width: 100%;
				height: 300px;
				object-fit: cover;
			}
		}
		.blog-details {
			width: 50%;
			margin-right: 40px;
			a {
				text-decoration: none;
				font-size: 11px;
				color: black;
				font-weight: 700;
				position: relative;
				transition: 300ms;
				&::after {
					content: "";
					width: 50px;
					height: 1px;
					background-color: black;
					position: absolute;
					top: 4px;
					right: -60px;
					transition: 300ms;
				}
				&:hover {
					color: var(--main-color);
					&::after {
						background-color: var(--main-color);
					}
				}
			}
		}
		h1 {
			position: absolute;
			top: -40px;
			left: 0;
			font-size: 70px;
			font-weight: 700;
			color: #c9cbce;
			z-index: -9;
		}
	}
}

@media (max-width: 767px) {
	#blog {
		padding: 100px 20px 0 20px;
		.blog-box {
			flex-direction: column;
			align-items: flex-start;
			.blog-image {
				width: 100%;
				margin-right: 0;
				margin-bottom: 30px;
			}
			.blog-details {
				width: 100%;
			}
		}
	}
}

#page-header.about-header {
	background-image: url("../img/about/banner.png")
}

#about-head {
	display: flex;
	align-items: center;
	img {
		width: 50%;
		height: auto;
	}
	div {
		width: 50%;
		padding-left: 40px;
	}
}

#about-app {
	text-align: center;
	.video {
		width: 70%;
		height: 100%;
		margin: 30px auto 0 auto;
		video {
			width: 100%;
			height: 100%;
			border-radius: 20px;
		}
	}
}

@media (max-width: 767px) {
	#about-head {
		display: flex;
		flex-direction: column;
		img {
			width: 100%;
		}
		div {
			width: 100%;
			padding-left: 0;
			margin-top: 30px;
		}
	}
	#about-app {
		.video {
			width: 100%;
		}
	}
}

#contact-details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.details {
		width: 40%;
		span {
			font-size: 12px;
		}
		h2 {
			font-size: 26px;
			line-height: 35px;
			padding: 20px 0;
		}
		h3 {
			padding-bottom: 15px;
			font-size: 16px;
		}
		li {
			list-style-type: none;
			display: flex;
			padding: 10px 0;
			i {
				font-size: 14px;
				padding-right: 22px;
			}
			p {
				margin: 0;
				font-size: 14px;
			}
		}
	}
	.map {
		width: 55%;
		height: 400px;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}

#phone-details {
	display: flex;
	justify-content: space-between;
	margin: 30px;
	padding: 80px;
	border: 1px solid #e1e1e1;
	form {
		width: 65%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		span {
			font-size: 12px;
		}
		h2 {
			font-size: 26px;
			line-height: 35px;
			padding: 20px 0;
		}
		input, textarea {
			width: 100%;
			padding: 12px 15px;
			outline: none;
			margin-bottom: 20px;
			border: 1px solid #e1e1e1;
		}
		button {
			background-color: var(--main-color);
			color: #fff;
		}
	}
	.people {
		div {
			padding-bottom: 25px;
			display: flex;
			align-items: flex-start;
			img {
				width: 65px;
				height: 65px;
				object-fit: cover;
				margin-right: 15px;
			}
			p {
				margin: 0;
				font-size: 13px;
				line-height: 25px;
				span {
					display: block;
					font-size: 15px;
					font-weight: 600;
					color: #000;
				}
			}
		}
	}
}

@media (max-width: 991px) {
	#phone-details {
		padding: 40px;
		form {
			width: 50%;
		}
	}
}

@media (max-width: 767px) {
	#contact-details {
		flex-direction: column;
		.details {
			width: 100%;
			margin-bottom: 30px;
		}
		.map {
			width: 100%;
		}
	}
	#phone-details {
		margin: 10px;
		padding: 30px 10px;
		flex-wrap: wrap;
		form {
			width: 100%;
			margin-bottom: 30px;
		}
	}
}

#cart {
	overflow-x: auto;
	table {
		width: 100%;
		border-collapse: collapse;
		table-layout: fixed;
		white-space: nowrap;
		img {
			width: 70px;
		}
		thead {
			border: 1px solid #e2e9e1;
			border-left: none;
			border-right: none;
			td {
				font-weight: 700;
				text-transform: uppercase;
				font-size: 13px;
				padding: 18px 0;
			}
		}
		tbody {
			tr {
				td {
					padding-top: 15px;
					font-size: 13px;
				}
			}
		}
		td:nth-child(1) {
			width: 100px;
			text-align: center;
		}
		td:nth-child(2) {
			width: 150px;
			text-align: center;
		}
		td:nth-child(3) {
			width: 250px;
			text-align: center;
		}
		td:nth-child(4), td:nth-child(5), td:nth-child(6) {
			width: 150px;
			text-align: center;
		}
		td:nth-child(5) input {
			width: 70px;
			padding: 10px 5px 10px 15px;
		}
	}
}

#cart-add {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	#coupon {
		width: 50%;
		margin-bottom: 30px;
		h3 {
			padding-bottom: 15px;
		}
		input {
			padding: 10px 20px;
			outline: none;
			width: 60%;
			margin-right: 10px;
			border: 1px solid #e2e9e1;
		}
		button {
			background-color: var(--main-color);
			color: #fff;
			padding: 12px 20px;
		}
	}
	#subtotal {
		width: 50%;
		margin-bottom: 30px;
		border: 1px solid #e1e1e1;
		padding: 30px;
		table {
			border-collapse: collapse;
			width: 100%;
			margin-bottom: 20px;
			td {
				width: 50%;
				border: 1px solid #e1e1e1;
				padding: 10px;
				font-size: 13px;
			}
		}
		h3 {
			padding-bottom: 15px;
		}
		button {
			background-color: var(--main-color);
			color: #fff;
			padding: 12px 20px;
		}
	}
}

@media (max-width: 767px) {
	#cart-add {
		flex-direction: column;
		#coupon {
			width: 100%;
		}
		#subtotal {
			width: 100%;
		}
	}
}